* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* regole header */

figure {
    height: 80%;
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 5px;
}

figure img {
    height: 100%;
}

nav {
    display: flex;
    align-items: center
}

.header-lists {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-left: 150px;
}

ul li {
    list-style-type: none;
    font-weight: bold;
    padding: 10px;
    color: #464b4f;

}

ul li a {
    padding: 10px;
    transition: background 0.4s;
}

ul li a.active,
ul li a:hover {
    background: lightblue;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-around;
}

/* regole main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: black;
}

h1 {
    color: white;
}

.blu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: blue;
    height: 150px;
    position: relative;
    z-index: 2;
}


.blu-li {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blu-li img {
    height: 40px;
    width: auto;
    display: block;
}

.blu-nav {
    width: 100%;
    display: flex;
    justify-content: center;

}

.blu-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}


/* regole footer */

.container-footer {
    display: flex;
    justify-content: space-between;
    background-image: url("../src/assets/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    transform: translateY(-80px);
}

.el-footer {
    color: grey;
    align-items: end;
    font-size: 1rem;
    line-height: 0.3;
}

.footer-titles {
    font-size: 1.5rem;
    color: white;
}

.column-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


}

.columns {
    display: flex;
    justify-content: space-around;
    align-content: baseline;
    margin-top: 150px;
    margin-left: 200px;
}

/* regole sub-footer */ 

.sub-footer{
    background-color: #464b4f;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.list-Subfooter{
    display: flex;
    align-items: center;
}

.cta-icons{
    display: flex;
    align-items: center;
}